@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Dosis&display=swap');

.main{
  font-family: 'Dosis', sans-serif;

}

h1,h2,h3,h4,h5{

  font-family: 'Cinzel', serif;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  /* margin: 100px; */
  float:left;
  margin: 30px;
  border-radius: 5%;
  box-shadow: 0px 0px 9px 4px #747DE8;
  animation: glow 1s infinite alternate;
}

.Quote-bubble{
 background: #fff;
 color:black;
 min-width:400px;
 border-radius: 10px;
 border: solid 2px black;
 font-size:2em;
 padding:20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    border-radius: 100px;
    background-color: #ccc;
    /* animation: glow 1s infinite alternate; */
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #460101;
  }
  to {
    box-shadow: 0 0 10px 10px #460101;
  }
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}